python-decouple

django
djangorestframework
djangorestframework-simplejwt

psycopg2-binary

celery 
redis

datasets
beautifulsoup4

langchain 
langchain-community 
langchain-huggingface
faiss-cpu 
sentence-transformers
langchain-google-genai

streamlit
streamlit-autorefresh