# Initial data processing

pandas


# Env and HTML processing

python-decouple
beautifulsoup4


# REST API and Backend

django
djangorestframework
djangorestframework-simplejwt

psycopg2-binary

celery 
redis


# Natural Processing Language

datasets

langchain 
langchain-community 
langchain-huggingface
faiss-cpu 
sentence-transformers
langchain-google-genai


# Frontend

streamlit
streamlit-autorefresh