# Initial data processing

numpy
pandas


# Env and HTML processing

python-decouple
beautifulsoup4
lxml
tqdm


# REST API and Backend

django
djangorestframework
djangorestframework-simplejwt
django-cors-headers

psycopg2-binary

celery 
redis


# Natural Processing Language

torch --index-url https://download.pytorch.org/whl/cu128

langchain 
langchain-community 
langchain-huggingface
langchain-google-genai

faiss-cpu 
sentence-transformers
