@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100px;
        background: #100F10;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #242424;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #303030;
    }
}


.thinking-dots::after {
    content: '';
    display: inline-block;
    animation: dots 1.5s steps(3, end) infinite;
    width: 1.25em;
    text-align: left;
}

@keyframes dots {
    0% {
        content: '';
    }

    33% {
        content: '.';
    }

    66% {
        content: '..';
    }

    100% {
        content: '...';
    }
}